unless minimal
	small.footer#bottom
		| - 
		a(href='/news.html') #{__('news')}
		|  - 
		a(href='/rules.html') #{__('rules')}
		|  - 
		a(href='/faq.html') #{__('faq')}
		|  - 
		a(href='/faq.html#contact') #{__('contact')}
		|  - 
		div
			| - 
			a(href='https://t.me/OurChanOfficial') telegram
			|  - 
			a(href='https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2Fu2dS9sG8nMNURyZwqASV4yROM28Er0luVTx5X1CsMrU%3D%40smp4.simplex.im%2FUt2ddSTETShN0be9MBFr94XVHTGmq0F6%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEAj7dXYgeSYq0fzIlPVpSBAY_W44ErBaCaqqNPEeJSxQ8%253D%26srv%3Do5vmywmrnaxalvz6wi3zicyftgio6psuvyniis6gco6bp6ekl4cqj4id.onion&data=%7B%22groupLinkId%22%3A%22LB1X7NZoTO6KFHLsVxOdsw%3D%3D%22%7D') simplex
			|  - 
			a(href='/irc.html') #{__('irc')}
			|  - 
			div
				a(href='https://github.com/OurChanBoard/OurChan') jschan
				|  #{version}

//- "render" script - for scripted things that are blocking
script(src=`/js/render.js?v=${commit}`)
